*, *::before, *, *::after {
box-sizing: border-box;
font-family: sans-serif;

}

body {
padding: 0;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
background-color: grey;

}

.container {
max-width: 50%;
background-color: white;
padding: 10px;
border-radius: 5px;
box-shadow: 0 0 10px 2px;
display: inline-table;
margin: 0 auto;
}

.btn-grid {
display: grid;
grid-template-columns: repeat(2, auto);
gap: 10px;
margin-top: 20px;

}

.button {
background-color: hsl(200, 100%, 50%);
border: 2px solid hsl(200, 100%, 30%);
border-radius: 5px;
padding: 5px 10px;
color: white;
outline: none;

}

.button:hover {

  border-color: black;
}
